<section class="footer-section">
    <footer>
        <section class="section__footer" id="customer-service">
            <div class="container">
                <div class="footer-area">

                    <div class="footer-brand">
                        <img src="images/logotype.png" alt="CoreFitness" />
                        <p>Empowering Your Fitness Journey with Expert Training and Lasting Results.</p>
                        <img src="images/footer-map.svg" alt="map-image">
                        <p>2nd Floor, Wellness Center, Drottninggatan 118, Stockholm</p>
                    </div>

                    <div class="footer-columns">

                        <div class="footer-column">
                            <h3>Opening hours</h3>
                            <p>Mon - Fri: 06:00 - 22:00</p>
                            <p>Sat: 08:00 - 18:00</p>
                            <p>Sun: 09:00 - 16:00</p>
                        </div>

                        <div class="footer-column">
                            <h3>Contact</h3>
                            <p>Phone: +46 40 000 00 00</p>
                            <p>Email: info@corefitness.com</p>
                        </div>

                    </div>

                </div>

                <div class="footer-bottom">
                    <p>© 2026 CoreFitness</p>
                </div>
            </div>
        </section>
    </footer>
</section>