<section class="section__header">
    <div class="container">
        <div class="header-area">

            <div class="logotype">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logotype.png" alt="CoreFitness Club" />
                </a>
            </div>

            <nav class="main-menu">
                <ul class="menu">
                    <li class="menu-item">
                        <a asp-controller="Home" asp-action="Index" fragment="fitness-centers">Fitness Centers</a>
                    </li>
                    <li class="menu-item">
                        <a asp-controller="Memberships" asp-action="Index">Memberships</a>
                    </li>
                    <li class="menu-item">
                        <a asp-controller="Home" asp-action="Contact" fragment="training">Customer Service</a>
                    </li>
                    <li class="menu-item">
                        <a asp-controller="Booking" asp-action="Schedule" fragment="training">Training</a>
                    </li>
                    <li class="menu-item">
                        <a asp-controller="Home" asp-action="Index" fragment="store">Store</a>
                    </li>
                </ul>
            </nav>

            <nav class="account-menu">
                <ul class="menu">
                    <li class="menu-item">
                        <a class="menu-item-link" asp-controller="Account" asp-action="Register">Become Member</a>
                    </li>
                    <li class="menu-item">
                        <a class="btn accent" asp-controller="Account" asp-action="Login">Sign In</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</section>