@{
    var title = ViewData["Title"]?.ToString();
    var pageTitle = !string.IsNullOrEmpty(title)
        ? $"{title} | CoreFitness Club"
        : "CoreFitness Club | Gym & Fitness";
        
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="app-layout">
        <header>
            @await Html.PartialAsync("~/Views/Shared/Partials/Layouts/_HeaderSection.cshtml")

            @await RenderSectionAsync("Hero", required: false)
        </header>
        <main>
            @RenderBody()
            
        </main>


        <footer>
            @await Html.PartialAsync("~/Views/Shared/Partials/Layouts/_FooterSection.cshtml")
        </footer>
    </div>
    
   

 <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
