<section class="section__account">
    <div class="container flex-center">
        <div class="account-card">
            <h3>Welcome Back!</h3>
            <p class="intro">
                Log in to continue your fitness journey with full access to your customized program, training history and progress tracking.
            </p>

            <!-- placeholder) -->
            <div class="social-login">
                <button type="button" class="social-btn">G</button>
                <button type="button" class="social-btn">F</button>
            </div>

            <div class="divider">OR CONTINUE WITH</div>

            
            <form asp-controller="Account" asp-action="Login" method="post">

                <div class="form-group">
                    <label>Email Address *</label>
                    <input name="Email" class="form-input" placeholder="Enter Email Address" />
                </div>

                <div class="form-group">
                    <div class="flex-between">
                        <label>Password *</label>
                        <a href="#" class="forgot-link">Forgot your password?</a>
                    </div>
                    <input name="Password" type="password" class="form-input" placeholder="Enter Password" />
                </div>

                <button type="submit" class="btn accent w-full">Log in</button>

                <div class="terms-check">
                    <input type="checkbox" name="RememberMe" />
                    <label>Remember me</label>
                </div>

            </form>
        </div>
    </div>
</section>